# Dependencies
node_modules/

# Next.js
.next/
out/
build/

# Heavy Files & Archives
docs/archives_translation/*/
!docs/archives_translation/sponsors/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# IDEs
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store

# Temporary Files
scratch/
